.maskPlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
  z-index: 99; }
  .maskPlayer .bg {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  .maskPlayer .control {
    position: absolute;
    width: 96%;
    height: 100%;
    left: -100vw;
    display: flex;
    opacity: 0;
    transition: opacity .5s;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .maskPlayer .control {
        display: flex;
        opacity: 1;
        left: 2%; } }
  .maskPlayer div.top, .maskPlayer div.bottom {
    display: flex;
    padding: 24px;
    color: white;
    z-index: 1; }
    .maskPlayer div.top.top, .maskPlayer div.bottom.top {
      font-size: 22px;
      justify-content: flex-start;
      background: linear-gradient(rgba(0, 0, 0, 0.5), transparent); }
    .maskPlayer div.top.bottom, .maskPlayer div.bottom.bottom {
      justify-content: flex-end;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); }
      .maskPlayer div.top.bottom :hover, .maskPlayer div.bottom.bottom :hover {
        color: lightskyblue;
        cursor: pointer;
        transition: color .3s; }
  .maskPlayer .modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    padding: 0 2%;
    box-sizing: border-box; }
    .maskPlayer .modal-wrapper:hover .control {
      display: flex;
      opacity: 1;
      left: 2%; }
  .maskPlayer .modal-content {
    background-color: #616161;
    width: 100%;
    height: 100%;
    overflow: scroll; }
  .maskPlayer .btn {
    max-height: 10vh;
    border: 0;
    background: unset;
    font-size: 24px;
    line-height: 24px;
    outline: none;
    z-index: 1; }
    .maskPlayer .btn.btn-close {
      position: fixed;
      right: 0;
      display: flex;
      justify-content: flex-end;
      width: 200px;
      height: 10vh;
      padding: 12px;
      cursor: pointer; }
    .maskPlayer .btn:hover {
      color: white; }
    @media screen and (max-width: 768px) {
      .maskPlayer .btn {
        color: white; } }
  .maskPlayer .arrow-layer {
    display: flex;
    flex: 1;
    z-index: 1; }
    .maskPlayer .arrow-layer .arrow {
      flex: 1;
      height: 100%;
      font-size: 24px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-shadow: rgba(120, 120, 120, 0.9) 0px 0px 5px, rgba(120, 120, 120, 0.9) 1px 2px 5px; }
      .maskPlayer .arrow-layer .arrow:hover {
        color: white; }
      @media screen and (max-width: 768px) {
        .maskPlayer .arrow-layer .arrow {
          color: white; } }
  .maskPlayer .image {
    background-color: #616161;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100%; }

.block-image {
  background-color: lightseagreen;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 300px;
  height: 300px;
  margin: 8px 0 0 8px; }
  .block-image:hover:after {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Detail';
    font-size: 18px;
    color: black; }
