/*.wrapper {
  margin: 8vw;
  padding: 8px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}*/

.player {

}

.slide-wrapper {
  overflow: hidden;
  background-color: white;
  position: relative;
  flex-direction: row;
  flex: 1;
}

.slide-item {
  background-color: aliceblue;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(100vw);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.toolbar-wrapper {
  padding: 8px;
  background-color: lightgreen;
  /*flex: 1;*/
  /*flex-basis: 20%;*/
  max-height: 100px;
}

.toolbar {
  display: flex;
  justify-content: center;
}
